<h1>Welcome to Louie's Bakery Tracker!</h1>
<h3><a href="/vendors">View vendors</a></h3>
<h3><a href="/vendors/new">Add a new vendor</a></h3>
<h3><a href="/vendors/orders">View current orders</a></h3>