<h1>Add an order</h1>
<p>Add a new order to @Model.Name</p>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id ="vendorId" name="vendorId" type="hidden" value = "@Model.Id">
  <label for="title">Order title</label>
  <input id="title" name="title" type="text">
  <label for="description">Description of order</label>
  <input id="description" name="description" type="text">
  <label for="date">Order date</label>
  <input id="date" name="date" type="text">
  <label for="price">Price in dollars</label>
  <input id="price" name="price" type="text">
  <button type="submit">Add Item</button>
</form>