<form action="/orders" method="post">
  <label for="title">Add a new order title</label>
  <input id="title" name="title" type="text">
  <label for="description">Add description of order</label>
  <input id="description" name="description" type="text">
  <label for="date">Add the order date</label>
  <input id="date" name="date" type="text">
  <label for="price">Add the price in dollars</label>
  <input id="price" name="price" type="text">
  <button type="submit">Submit</button>
</form>